<form action="/form_insert">
	<label for="nombre">Nombre:</label><br>
	<input type="text" id="nombre" name="nombre" placeholder="Juan"><br>

	<label for="apellido">Apellido:</label><br>
	<input type="text" id="apellido" name="apellido" placeholder="Perez"><br><br>

	<div id="dropdown">
		<label for="pais">Pais:</label>
		<select id="pais" name="pais"></select>
	</div>

	<div class="ocultar">
		<label for="provincia">Provincia:</label>
		<select id="provincia" name="provincia"></select>
	</div>


	<input type="submit" value="Submit">
</form>

<div id='pais_prov' style="display:none;">
	{% for var in vars.paises %}
		<li attr-name="{{ var.name }}" attr-id="{{ var.id }}"></li>
	{% endfor %}
</div>


<!--
//form_insert?fname=Vito&lname=Barrio
-->


<!--div>
	<input id="visor" type="text">
</div>
<div>
	<button class="botones" type="button" value="1">1</button>
	<button class="botones" type="button" value="2">2</button>
	<button class="botones" type="button" value="3">3</button>
	<button class="botones" type="button" value="+">+</button>
</div>
<div>
	<button class="botones" type="button" value="4">4</button>
	<button class="botones" type="button" value="5">5</button>
	<button class="botones" type="button" value="6">6</button>
	<button class="botones" type="button" value="-">-</button>
</div>
<div>
	<button class="botones" type="button" value="7">7</button>
	<button class="botones" type="button" value="8">8</button>
	<button class="botones" type="button" value="9">9</button>
	<button class="limpiar" type="button" value="limpiar">Limpiar</button>
</div>
<div>
	<button type="button" value="*">*</button>
	<button class="botones" type="button" value="0">0</button>
	<button type="button" value="#">#</button>
	<button class="calcular" type="button">=</button>
</div-->


<!--div class="cuadrado_test_hover" id="cua_test_hover">
</div>

<div class="cuadrado_test_tamano" id="cua_test_tamano">
</div>

<div class="paleta">

	<div class="cuadrado1">
		<div class="cuadrado2">
			<div id="cua_3" class="cuadrado3"></div>
		</div>
	</div>

</div>

<div class="contenedor">

	<div class="cuadrado color_amarillo">
		<div class="fontsize20 titulo">
			cuadrado 1
		</div>
		<div class="fontsize20 bodytext">
			textotextotextotextotextotextotextotexto
		</div>
	</div>

	<div class="cuadrado color_azul"></div>

	<div id="C3" class="cuadrado"></div>

</div>

<img src="https://www.masgamers.com/wp-content/uploads/2019/04/logo-age-of-empires-2-definitive-edition-825x478.png" alt="logo age of empire"/>

<h1>
	Partidas Ganadas en TG
</h1>
<table>
	<tr>
		<th>Name de steam</th>
		<th>win-lose</th>
		<th>win%</th>
	</tr>
	<tr>
		<td>Tosky</td>
		<td>151-178</td>
		<td>46%</td>
	</tr>
	<tr>
		<td>Tajik</td>
		<td>634-605</td>
		<td>51%</td>
	</tr>
	<tr>
		<td>Ikki</td>
		<td>232-310</td>
		<td>43%</td>
	</tr>
	<tr>
		<td>Sikor</td>
		<td>122-156</td>
		<td>44%</td>
	</tr>
	<tr>
		<td>El GuAnAcO</td>
		<td>224-356</td>
		<td>356</td>
	</tr>
	<tr>
		<td>El pepe</td>
		<td>69-93</td>
		<td>43%</td>
	</tr>
</table-->
